* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url(../../public/bg_svg6.svg);
  background-size: cover;
  color: aliceblue;
}

a {
  color: inherit;
  text-decoration: none;
}
